#topnav {
    background-color: #031F38;
  
}

#logo {
    height: 125px;
    width: 125px;
}
.navbar {
    max-height: 70px;
} 


.fa {
    display: inline-block;
    color: red;
    border-right: 1px solid #fff;
    padding: 8px;
    margin-left: 6px;
    font-size: 20px;
}

.nav-item {
    padding-right: 3.5rem;
    padding-left: 3.5rem;
    font-size: 24px;
    line-height: 10px;
    padding-top: 5rem;
}