
#forsidebilde {
    background-repeat: no-repeat;
    min-width: 154.3%;
    margin-top: -20px;
    margin-left: -398px;
    height: 388px;
   
}



#reiserute {
    width: 600px;
    border: 1px solid #fff;
    margin: 10px;
    margin-left: 8px;
    padding: 5px;
    color: black ;
}
#second {
    display: none;
}
#form {
    background-color: lightgray;
    height: 540px;
    width: 800px;
    margin: auto;
    margin-top: 120px;
    
    border-radius: 25px;
}

#first-group {
    border: none;
    width: 400px;
    margin-top: 10px;
    position: absolute;
}

#content {
    border: 1px solid #fff;
    margin: 10px;
    margin-left: 8px;
    padding: 5px;
}

 
    #content #input-group {
        border: none;
        outline: none;
        background: transparent;
        margin-left: 8px;
        width: 300px;
        color: #fff;
    }

::placeholder {
    color: black;
}

.fa {
    display: inline-block;
    color: red;
    border-right: 1px solid #fff;
    padding: 8px;
    margin-left: 6px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 500;
}

#second-group {
    border: none;
    width: 400px;
    margin-top: 20px;
    margin-left: 400px;
}

#pris {
    background-color: #031F38;
    width: 150px;
    padding: 1px;
    margin: 20px;
    color: whitesmoke;
    border-radius: 15px;
    border: 1px solid red;
    font-size: 18px;
    margin-left: -350px;
}

#submit-btn {
    margin-top: -140px;
    margin-left: 600px;
    background-color: red;
    color: whitesmoke;
    width: 150px;
    border: 1px solid #031F38;
    outline: none;
    padding: 0px;
    font-size: 20px;
    border-radius: 20px;
}
#second {
    background-color: lightgray;
    width: 400px;
    border-radius: 20px;
    align-content:center;
    height: 350px;
}
#cvv2 {
    margin-left: 53px;
}
#utlopsDato {
    margin-left: 11px;
}
.visBillett {
    width: 400px;
    background-color: aliceblue;
    border-radius: 15px;
    padding-left: 12px;
}